@model Ghasedak.ViewModel.BoxAdminViewModel

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
               
                <div class="row">
                    <form asp-action="Edit" method="post">
                        <div class="box-body">

                            @if (Model.oprator != null)
                            {

                                <div id="opratorSection">
                                    <p style="padding-right: 15px;">
                                        مشخصات ثبت کننده

                                    </p>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">کد</label>
                                            <input class="form-control" type="text" asp-for="@Model.oprator.code" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">شماره همراه</label>
                                            <input class="form-control" type="text" asp-for="@Model.oprator.mobile" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">نام و نام خانوادگی</label>
                                            <input class="form-control" type="text" asp-for="@Model.oprator.fullName" readonly>
                                        </div>
                                    </div>
                                    <div>
                                        <hr style="width:100%" />

                                    </div>
                                </div>
                            }
                            <input type="hidden" asp-for="@Model.box.id" />
                            <input type="hidden" asp-for="@Model.box.lon" />
                            <input type="hidden" asp-for="@Model.box.lat" />
                            <input type="hidden" asp-for="@Model.box.charityId" />
                            <input type="hidden" asp-for="@Model.box.opratorId" />
                            <input type="hidden" asp-for="@Model.box.guidBox" />

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.box.fullName" class="control-label"></label>
                                    <input asp-for="@Model.box.fullName" class="form-control" />
                                    <span asp-validation-for="@Model.box.fullName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.box.number" class="control-label"></label>
                                    <input asp-for="@Model.box.number" class="form-control" />
                                    <span asp-validation-for="@Model.box.number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.box.boxKind" class="control-label"></label>
                                    <input asp-for="@Model.box.boxKind" class="form-control" />
                                    <span asp-validation-for="@Model.box.boxKind" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.box.mobile" class="control-label"></label>
                                    <input asp-for="@Model.box.mobile" class="form-control" />
                                    <span asp-validation-for="@Model.box.mobile" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.box.day" class="control-label"></label>
                                    <input asp-for="@Model.box.day" class="form-control" />
                                    <span asp-validation-for="@Model.box.day" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">کد مسیر</label>
                                    <select asp-for="@Model.box.dischargeRouteId" required class="form-control select-form">
                                        <option value="">انتخاب کنید</option>
                                        @foreach (var item in (IEnumerable<Ghasedak.Models.DischargeRoute>)ViewData["DischargeRouteId"])
                                        {
                                            if (item.id == Model.box.dischargeRouteId)
                                            {
                                                <option selected value="@item.id">@item.code : @item.address</option>
                                            }
                                            else
                                            {
                                                <option value="@item.id">@item.code : @item.address</option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.box.dischargeRouteId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">تاریخ واگذاری قبلی:</label><label>  @Model.box.assignmentDate</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" asp-for="@Model.box.assignmentDate" class="form-control pull-right">
                                    </div>
                                    <span asp-validation-for="@Model.box.assignmentDate" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="@Model.box.address" class="control-label"></label>
                                    <textarea asp-for="@Model.box.address" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.box.address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id='map' style='width: 800px; height: 500px;'></div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="ثبت" class="btn btn-default" />
                                    <a class="btn btn-danger" asp-action="Index">بازگشت</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</section>

<script src='https://api.cedarmaps.com/cedarmaps.js/v1.8.0/cedarmaps.js'></script>
<div id="results">

    @*<div id="loading"><img src="../dist/v1.8.0/images/loading-14-blue.gif" width="14" height="14"> Loading...</div>*@
    <div id="latlng"></div>
    <div id="parsed-response"></div>
    <div id="raw-response"></div>
</div>
@section scripts
    {
    <script src="~/js/PersianDatePicker.min.js"></script>

    <script>
        $(document).ready(function () {



            $('#assignmentDate').persianDatepicker({
                //formatDate: "YYYY/MM/DD hh:mm:ss:ms",
                altFormat: 'X',
                observer: true,

                timePicker: {
                    enabled: true
                },
            });
        });

    </script>
    <script>

    var lon = 51.6650002;
    var lat = 32.6707877;

    $("#lon").val(@Model.box.lon);
    $("#lat").val(@Model.box.lat);
    try {
        L.cedarmaps.accessToken = "51bb3122d525fe4ddc70cd4a7356eaf3e9e2f76f";
    }
    catch (err) {
        throw new Error('You need to get an access token to be able to use cedarmaps SDK. ' +
            'Send us an email to <info@cedar.ir>');
    }

    var tileJSONUrl = 'https://api.cedarmaps.com/v1/tiles/cedarmaps.streets.json?access_token=' + L.cedarmaps.accessToken,
        marker,
        syntaxHighlight;

    // Initializing our map
    var map = L.cedarmaps.map('map', tileJSONUrl, {
        scrollWheelZoom: true
    }).addControl(L.cedarmaps.geocoderControl('cedarmaps.streets', {
        keepOpen: false,
        autocomplete: true
    })).setView(['@Model.box.lat', '@Model.box.lon'], 15);

    // Setting up our DOM elements.
    var resultsContainer = document.getElementById('results'),
        latLngContainer = document.getElementById('latlng'),
        parsedResponseContainer = document.getElementById('parsed-response'),
        rawResponseContainer = document.getElementById('raw-response'),
        loadingIndicator = document.getElementById('loading');

    // We need to introduce our index to geocoder module. "cedarmaps.streets" in this case.
    var geocoder = L.cedarmaps.geocoder('cedarmaps.streets');

    map.on('click', function (e) {
        if (marker) map.removeLayer(marker);
        marker = new L.marker(e.latlng).addTo(map);
        lon = e.latlng.lng;
        lat = e.latlng.lat;
        $("#lon").val(lon);
        $("#lat").val(lat);
        loading.style.visibility = 'visible';
        latLngContainer.innerHTML = 'LatLng: ' + e.latlng.lat + ', ' + e.latlng.lng;

        geocoder.reverseQuery(e.latlng, function callback(err, res) {
            loading.style.visibility = 'hidden';
            parsedResponseContainer.style.display = 'block';
            rawResponseContainer.style.display = 'block';

            var parsedResponse = '<ul>' +
                '<li><strong>استان:</strong> ' + res.result.province + '</li>' +
                '<li><strong>شهر:</strong> ' + res.result.city + '</li>' +
                '<li><strong>محله:</strong> ' + res.result.locality + '</li>' +
                '<li><strong>خیابان:</strong> ' + res.result.address + '</li>' +
                '<li><strong>در منطقه طرح ترافیک:</strong> ' + (res.result.traffic_zone.in_central ? 'بله' : 'خیر') + '</li>' +
                '<li><strong>در منطقه زوج و فرد:</strong> ' + (res.result.traffic_zone.in_evenodd ? 'بله' : 'خیر') + '</li>' +
                '</ul>';
            var rawResponse = '<pre class="language-javascript">' + syntaxHighlight(JSON.stringify(res, undefined, 2)) + '</pre>'

            //parsedResponseContainer.innerHTML = parsedResponse;
            //rawResponseContainer.innerHTML = rawResponse;

        });
    });

    syntaxHighlight = function (json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }
    var myIcon = L.icon({
        iconUrl: '//api.cedarmaps.com/cedarmaps.js/v1.8.0/images/marker-icon.png',
        //iconRetinaUrl: '//api.cedarmaps.com/cedarmaps.js/v1.8.0/images/marker-icon.png',
        iconSize: [34, 46],
        iconAnchor: [17, 41],
        popupAnchor: [-3, -46],
        //shadowUrl: '//api.cedarmaps.com/cedarmaps.js/v1.8.0/images/marker-icon.png',
        //shadowRetinaUrl: '//api.cedarmaps.com/cedarmaps.js/v1.8.0/images/marker-icon.png',
        shadowSize: [26, 6],
        shadowAnchor: [13, 3]
    });

    var marker = new L.marker(['@Model.box.lat', '@Model.box.lon'], {
        icon: myIcon
    }).addTo(map);

    var popupOptions = {
        offset: new L.Point(2, 14),
        closeButton: false,
        autoPan: false
    };
    marker.bindPopup('@Model.box.number', popupOptions).openPopup();
    </script>
}


