@model Ghasedak.ViewModel.FlowerCrownAdminViewModel
    
    <section class="content">
        <div class="row">
     
    <div class="col-md-12">
     
    <div class="box box-primary">
        <div class="row">
            <div class="box-body">

                <div class="col-md-6">
                    <div class="form-group">
                        <a class="btn btn-danger" asp-action="Index">بازگشت</a>
                    </div>
                </div>
            </div>
            <form asp-action="Edit" method="post">
                @if (Model.oprator != null)
                {

                    <div id="opratorSection">
                        <p style="padding-right: 15px;">
                            مشخصات ثبت کننده

                        </p>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">کد</label>
                                <input class="form-control" type="text" asp-for="@Model.oprator.code" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">شماره همراه</label>
                                <input class="form-control" type="text" asp-for="@Model.oprator.mobile" readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">نام و نام خانوادگی</label>
                                <input class="form-control" type="text" asp-for="@Model.oprator.mobile" readonly>
                            </div>
                        </div>
                        <div>
                            <hr style="width:100%" />

                        </div>
                    </div>
                }
                <div class="box-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                </div>
                <div class="box-body">

                    <p style="padding-right: 15px;">
                        مشخصات اهدا کننده

                    </p>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام و نام خانوادگی </label>
                            <input asp-for="@Model.donator.donatorFullName" type="text" class="form-control" />
                            <span asp-validation-for="@Model.donator.donatorFullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام مستعار </label>
                            <input asp-for="@Model.donator.donatorAlias" type="text" class="form-control" />
                            <span asp-validation-for="@Model.donator.donatorAlias" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">شماره همراه </label>
                            <input asp-for="@Model.donator.donatorMobile" type="text" class="form-control" />
                            <span asp-validation-for="@Model.donator.donatorMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <input type="checkbox" asp-for="@Model.donator.isSendMessage" />
                        </label>
                        <label class="control-label">ارسال پیامک</label>
                    </div>
                    <div>
                        <hr style="width:100%" />

                    </div>

                    <p style="padding-right: 15px;">
                        مشخصات معرف

                    </p>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام و نام خانوادگی </label>
                            <input asp-for="@Model.introduced.donatorFullName" type="text" class="form-control" />
                            <span asp-validation-for="@Model.introduced.donatorFullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام مستعار </label>
                            <input asp-for="@Model.introduced.donatorAlias" type="text" class="form-control" />
                            <span asp-validation-for="@Model.introduced.donatorAlias" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">شماره همراه </label>
                            <input asp-for="@Model.introduced.donatorMobile" type="text" class="form-control" />
                            <span asp-validation-for="@Model.introduced.donatorMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>
                            <input type="checkbox" asp-for="@Model.introduced.isSendMessage" />
                        </label>
                        <label class="control-label">ارسال پیامک</label>
                    </div>
                    <div>
                        <hr style="width:100%" />

                    </div>
                    <p style="padding-right: 15px;">مشخصات متوفی</p>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام و نام خانوادگی</label>
                            <input asp-for="@Model.deceasedName.deceasedFullName" type="text" class="form-control" />
                            <span asp-validation-for="@Model.deceasedName.deceasedFullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نام مستعار</label>
                            <input asp-for="@Model.deceasedName.deceaseAalias" type="text" class="form-control" />
                            <span asp-validation-for="@Model.deceasedName.deceaseAalias" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">جنسیت</label>
                            @if (Model.deceasedName.deceasedSex == false)
                            {
                                <input value="مرد" type="text" class="form-control" />

                            }
                            @if (Model.deceasedName.deceasedSex == true)
                            {
                                <input value="زن" type="text" class="form-control" />

                            }
                        </div>
                    </div>
                    <div>
                        <hr style="width:100%" />

                    </div>
                    <p style="padding-right: 15px;">مشخصات تاج گل</p>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">قیمت</label>
                            <input asp-for="@Model.flowerCrown.price" type="text" class="form-control" />
                            <span asp-validation-for="@Model.flowerCrown.price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">تاریخ ثبت</label>
                            <input asp-for="@Model.flowerCrown.registerDate" type="text" class="form-control" />
                            <span asp-validation-for="@Model.flowerCrown.registerDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">نوع مراسم</label>
                            @if (Model.flowerCrown.CeremonyType == CeremonyType.Tarhim)
                            {
                                <input value="ترحیم" type="text" class="form-control" />

                            }
                            @if (Model.flowerCrown.CeremonyType == CeremonyType.Hafte)
                            {
                                <input value="هفته" type="text" class="form-control" />

                            }
                            @if (Model.flowerCrown.CeremonyType == CeremonyType.Chehelom)
                            {
                                <input value="چهلم" type="text" class="form-control" />

                            }
                            @if (Model.flowerCrown.CeremonyType == CeremonyType.Sal)
                            {
                                <input value="سال" type="text" class="form-control" />

                            }
                            @if (Model.flowerCrown.CeremonyType == CeremonyType.eid)
                            {
                                <input value="عید" type="text" class="form-control" />

                            }
                        </div>
                    </div>
                </div>
            </form>
        </div>

                </div>
            </div>
        </div>
    </section>
    
