@model PagedList.Core.IPagedList<Ghasedak.Models.FinancialServiceType>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">نوع خدمت</h3>
                <br />
                <p style="color:red">@ViewBag.success</p>
            </div>
            <div class="row">
                <form>
                    <div class="box-body">
                        <div class="col-md-4 form-group">
                            <input type="text" name="filtertitle" id="filtertitle" class="form-control" placeholder="عنوان" />
                        </div>
                        <div class="col-md-4 form-group">
                            <button type="submit" class="btn btn-default">جستجو</button>
                        </div>
                        <div class="col-md-2 form-group">
                            <a href="/FinancialServiceType/Index" class="btn btn-default">مشاهده همه</a>
                        </div>
                        <div class="col-md-2 form-group">

                            <div class="btn btn-default" id="export">خروجی اکسل</div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="row">
                <div class="box-body">

                    <div class="col-md-4">
                        <input type="file" id="fUpload" name="files" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="btn btn-default" id="btnUpload" value="آپلود فایل اکسل" />
                    </div>
                    <div class="col-md-6">
                        فایل آپلودی به ترتیب از راست به چپ دارای فیلدهای title از نوع حروف
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box-body">

                    <div class="col-md-12">
                        <a class="btn btn-success openmodal" style="margin-right: 10px;" href="#" data-toggle="modal" data-target="#myModal"> نوع خدمت جدید</a>

                        <a class="btn btn-default deleteAll">حذف موارد انتخابی</a>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="checkbox1">
                                    </label>
                                </div>
                            </th>
                            <th>عنوان</th>

                            <th>امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="chkRow">
                                        <label>
                                            <input value="@item.id" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                                <td>@item.title</td>
                                
                                <td>
                                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#EditModal" id="@item.id"> ویرایش</button>

                                    <a class="btn btn-danger" data-toggle="modal" data-target="#QuestionModal" onclick="AssignButtonClicked(this)" data-assigned-id="@item.id" data-assigned-title="@item.title"> حذف</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            @*@for (int i = 1; i <= Model.PageCount; i++)
                                {
                                    <li class="paginate_button  @((i==Model.CurrentPage?"active":""))">
                                        <a href="/Admin/Users?pageId=@i" aria-controls="example1" data-dt-idx="1" tabindex="0">@i</a>
                                    </li>
                                }*@
                            <li>
                                <pager list="@Model" asp-controller="FinancialServiceType" asp-action="Index" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col -->
</div>
<div class="modal fade" id="myModal" role="dialog" style="height:auto;overflow-y:visible">
    <div class="modal-dialog modal-sm" style="width:400px">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">نوع تاج گل</h4>
            </div>
            <div class="modal-body" style="height:auto">
                <form id="register">
                    <div class="box-body">
                        <input type="hidden" id="FinancialServiceTypeId" name="FinancialServiceTypeId" />
                        <input type="hidden" id="charityId" name="charityId" />

                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">عنوان</label>
                                <input class="form-control" type="text" data-val="true" data-val-maxlength="عنوان  نمی تواند بیشتر از 50 کاراکتر باشد ." data-val-maxlength-max="50" id="title" name="title" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="title" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
                <button type="button" class="btn btn-success" onclick="Save();">ثبت</button>
            </div>
        </div>
    </div>
</div>
<div id="Error">

</div>
<div id="Success">

</div>
<div id="Question">

</div>
@section scripts
    {
    <script>
        $(document).ready(function () {
            $('#btnUpload').on('click', function () {
                var fileExtension = ['xls', 'xlsx'];
                var filename = $('#fUpload').val();
                if (filename.length == 0) {
                    alert("Please select a file.");
                    return false;
                }
                else {
                    var extension = filename.replace(/^.*\./, '');
                    if ($.inArray(extension, fileExtension) == -1) {
                        alert("Please select only excel files.");
                        return false;
                    }
                }
                var fdata = new FormData();
                var fileUpload = $("#fUpload").get(0);
                var files = fileUpload.files;
                fdata.append(files[0].name, files[0]);
                $.ajax({
                    type: "POST",
                    url: "/FinancialServiceType/OnPostImport",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: fdata,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response == "Success")
                            window.location.href = "/FinancialServiceType/Index";
                    },
                    error: function (e) {

                    }
                });
            })
        });
        $('#checkbox1').change(function () {
            if (this.checked) {
                var isChecked = $(this).prop("checked");
                $('#example2 tr:has(td)').find('input[type="checkbox"]').prop('checked', isChecked);
            }
        });
        $('.deleteAll').on('click', function () {
            var array = [];
            $('#example2 tr:has(td)').find("input[type='checkbox']:checked").each(function () {
                array.push(parseInt($(this).val()));
            });

            swal({
                title: ' مطمئن هستید؟',
                text: 'آیا از حذف رکورد انتخابی اطمینان دارید؟!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: '! بله ',
                cancelButtonClass: 'btn btn-light',
                background: 'rgba(0, 0, 0, 0.96)'
            }).then(function () {

                $.ajax({
                    type: "POST",
                    url: "/FinancialServiceType/DeleteAll",
                    data: { ids: array },
                    success: function (response) {
                        if (response == "Success")
                            window.location.href = "/FinancialServiceType/Index";
                        else
                            window.location.href = "/FinancialServiceType/Index?isSuccess=true";

                    }
                });
            });
        })
        $("#export").on('click', function () {
            var filtertitle = $("#filtertitle").val();
            window.location.href = '/FinancialServiceType/ExportToExcel?filtertitle=' + filtertitle;
        });
    </script>

    <script>


        $('#modal-default').on('hidden.bs.modal', function () {
            $('#modal-default').find('input,textarea,select').each(function (key) {
                if ($(this).attr('id') == "id") {
                    $(this).val(0);
                }
                else
                    if ($(this).attr('name') != '__RequestVerificationToken')
                        $(this).val('');
            })
        })
    </script>
    <script>
        window.onload = Load;
        function Load() {
            CreateAllModals();
            $(".openmodal").click(function () {
                clear('register', ["input"]);
                clear('register', ["textarea"]);

            });
            $(".btn-warning").click(function () {
                EditAjax("../FinancialServiceType/FinancialServiceTypeInfo", this.id);
                var bodyStyle = document.body.style;
                bodyStyle.removeProperty('padding-right');
            });
        }
        function Save() {
            if (checkvalidity('register') === 0) {
                return;
            }
            else {
                $("#myModal").modal('toggle');
                var Parameters = [{ id: "id", htmlname: "FinancialServiceTypeId", special: "" },
                    { id: "title", htmlname: "title", special: "" },

                { id: "charityId", htmlname: "charityId", special: "" }];
                PostAjax('../FinancialServiceType/Register', Parameters, "../FinancialServiceType/Index?page="+@Model.PageNumber+"");
            }
        }
        function AssignButtonClicked(elem) {
            $('#FinancialServiceTypeId').val($(elem).data('assigned-id'));
            var title = $(elem).data('assigned-title');
            $('#QuestionModal').find("h4").html(title);
        }
        function Remove() {

            var Parameters = [{ id: "id", htmlname: "FinancialServiceTypeId", special: "" }];

            PostAjax('../FinancialServiceType/Delete', Parameters, "../FinancialServiceType/Index");

        }


    </script>

}

